In [80]:
import numpy as np
import pandas as pd

In [81]:
### Import data
df = pd.read_csv("data/stem.csv")

### Filter data
df = df[df['EMPLOYED'] == 1]
df.drop(columns=['EMPLOYED', 'CaseID', 'weight', 'RECONA_col', 'RECONB_col', 'RECONC_col'], inplace=True)

### Select which columns to keep
# columns_to_keep = ['TEACHSTEM','WORKTYPE_FINAL', 'Xparent', 'ppagect4', 'EDUC4CAT', 'RACE_col', 
#                    'PPGENDER', 'HH_INCOME_col', 'PPREG4', 'ETHN1', 'IDEO', 'HARASS1', 'HARASS2', 
#                    'HARASS3', 'TECH3', 'TECH6']
columns_to_keep = df.columns
# df = pd.DataFrame(df, columns=columns_to_keep)

In [82]:
### Purge empty values and 9s
# df = df.astype(float) # change to float so we can insert nans (mark for removal)
df = df.replace([' ', '', 9],[np.nan, np.nan, 9])
df = df.interpolate(method='pad')
# df

,WORK_1,WORK_2,WORK_3,WORK_4,FULLPART,SELFEMPLOYED,OCCUPATION_col,INDUSTRY_col,TEACHSTEM,WORKTYPE_FINAL,...,DEGREE2_otherstem,DEGREE2_othernonstem,STEM_DEGREE,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col
0,1,2,2,2,1,2,3,9,8,1,...,NaN,NaN,2,1,1,0,1,1,3,1
1,1,2,2,2,1,2,5,12,8,1,...,0,0,1,12,8,2,2,4,4,1
2,2,1,2,2,2,2,19,15,8,2,...,0,0,1,98,98,0,2,2,3,3
3,1,2,2,1,1,1,9,15,1,1,...,0,0,1,15,6,0,2,2,4,1
4,2,2,2,1,2,1,2,10,8,2,...,0,1,2,3,3,0,2,2,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,1,2,2,2,1,2,12,16,8,1,...,0,0,9,99,99,1,2,3,2,1
4910,1,2,2,2,1,2,12,16,8,1,...,0,0,1,2,2,0,3,3,4,1
4911,1,2,2,2,1,2,3,12,8,1,...,0,0,1,98,98,2,3,5,3,1
4912,2,1,2,2,2,2,11,16,8,1,...,0,0,1,98,98,1,3,4,4,3
4913,2,1,2,1,2,1,12,16,8,1,...,0,0,1,98,98,0,2,2,2,1

In [83]:
newdf_columns = []
for column, any_nan in zip(df.columns, df.isna().any()):
    if any_nan == False:
        newdf_columns.append(column)
newdf_columns
df = df[newdf_columns]
# df

,WORK_1,WORK_2,WORK_3,WORK_4,FULLPART,SELFEMPLOYED,OCCUPATION_col,INDUSTRY_col,TEACHSTEM,WORKTYPE_FINAL,...,DEGREE1_otherstem,DEGREE1_othernonstem,STEM_DEGREE,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col
0,1,2,2,2,1,2,3,9,8,1,...,0,1,2,1,1,0,1,1,3,1
1,1,2,2,2,1,2,5,12,8,1,...,0,0,1,12,8,2,2,4,4,1
2,2,1,2,2,2,2,19,15,8,2,...,0,0,1,98,98,0,2,2,3,3
3,1,2,2,1,1,1,9,15,1,1,...,0,0,1,15,6,0,2,2,4,1
4,2,2,2,1,2,1,2,10,8,2,...,0,1,2,3,3,0,2,2,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,1,2,2,2,1,2,12,16,8,1,...,0,0,9,99,99,1,2,3,2,1
4910,1,2,2,2,1,2,12,16,8,1,...,0,1,1,2,2,0,3,3,4,1
4911,1,2,2,2,1,2,3,12,8,1,...,0,0,1,98,98,2,3,5,3,1
4912,2,1,2,2,2,2,11,16,8,1,...,0,0,1,98,98,1,3,4,4,3
4913,2,1,2,1,2,1,12,16,8,1,...,1,0,1,98,98,0,2,2,2,1

In [84]:
### Cast everything as integers (empty --> NaN)
df = df.astype(int)

### Remapping values for columns with valuable adjacency
adj_cols = ['ETHN1', 'HARASS1', 'HARASS2', 'STEMJOBa', 'STEMJOBb', 'STEMJOBc', 'STEMJOBd', 
            'STEMJOBe', 'STEMJOBf', 'STEMJOBg', 'STEMJOBh']

df.replace({'ETHN1':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'HARASS1':{1:2, 2:1, 3:0}}, inplace=True)
df.replace({'HARASS2':{1:2, 2:1, 3:0}}, inplace=True)
df.replace({'STEMJOBa':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBb':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBc':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBd':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBe':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBf':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBg':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'STEMJOBh':{1:1, 2:-1, 3:0}}, inplace=True)

### Remapping values for label columns
label_cols = ['TECH3', 'TECH6']
df.replace({'TECH3':{1:2, 2:1, 3:0}}, inplace=True)
df.replace({'TECH6':{1:2, 2:1, 3:0}}, inplace=True)

### Creating 1hot encoding for the rest
onehot_cols = [elem for elem in df.columns if elem not in adj_cols+label_cols]
print(onehot_cols)

for col in onehot_cols:
    values = set(df[col])
    for value in values:
        df[f'{col}-{value}'] = [1 if elem == value else 0 for elem in df[col]]

df.drop(columns=onehot_cols, inplace=True)

### Export data to CSV
df.to_csv('data/stem_processed_all.csv', index=False)

df

['WORK_1', 'WORK_2', 'WORK_3', 'WORK_4', 'FULLPART', 'SELFEMPLOYED', 'OCCUPATION_col', 'INDUSTRY_col', 'TEACHSTEM', 'WORKTYPE_FINAL', 'SCH2a', 'SCH2b', 'SCH3a', 'SCH3b', 'SCH3c', 'SCH3d', 'SCH4', 'SCH5a', 'SCH5b', 'SCH5c', 'SCH6a', 'SCH6b', 'SCH6c', 'SCH6d', 'SCH6e', 'SCH6f', 'SCH6g', 'SCH6h', 'SCH7', 'SCH8a', 'SCH8b', 'SCH9a', 'SCH9b', 'SCH10_flag', 'SCH10B_1', 'SCH10B_2', 'SCH10B_3', 'SCH10B_4', 'SCH10B_5', 'SCH10B_6', 'SCH10B_Refused', 'JOBVALU1_1', 'JOBVALU1_2', 'JOBVALU1_3', 'JOBVALU1_4', 'JOBVALU1_5', 'JOBVALU1_6', 'JOBVALU1_7', 'JOBVALU1_8', 'JOBVALU1_Refused', 'JOBVALU2', 'AHEADa', 'AHEADb', 'AHEADc', 'AHEADd', 'AHEADe', 'AHEADf', 'AHEADg', 'TALENT', 'PROVE', 'RESPECTA', 'RESPECTB', 'FAMSTEM1', 'DOV_FORM', 'REASON1a', 'REASON1b', 'REASON1c', 'REASON1d', 'REASON1e', 'REASON1f', 'REASON1g', 'REASON2a', 'REASON2b', 'REASON2c', 'REASON2d', 'REASON2e', 'REASON2f', 'REASON2g', 'TECH1', 'TECH2', 'TECH4', 'TECH5', 'GEND1', 'GEND2', 'GEND3', 'GEND4', 'GEND5', 'GEND6_a', 'GEND6_b', 'GEND6_c', 'GEND6_d', 'GEND6_Refused', 'ETHN2a', 'ETHN2b', 'ETHN2c', 'ETHN2d', 'ETHN3a', 'ETHN3b', 'ETHN3c', 'ETHN3d', 'ETHN4', 'ETHN5', 'ETHN6_a', 'ETHN6_b', 'ETHN6_c', 'ETHN6_d', 'ETHN6_Refused', 'GENDJOB1', 'ETHNJOB1', 'GENDDISC_a', 'GENDDISC_b', 'GENDDISC_c', 'GENDDISC_d', 'GENDDISC_e', 'GENDDISC_f', 'GENDDISC_g', 'GENDDISC_h', 'GENDDISC_i', 'GENDDISC_Refused', 'ETHNDISC_a', 'ETHNDISC_b', 'ETHNDISC_c', 'ETHNDISC_d', 'ETHNDISC_e', 'ETHNDISC_f', 'ETHNDISC_g', 'ETHNDISC_h', 'ETHNDISC_i', 'ETHNDISC_Refused', 'HARASS3', 'VOTECH', 'RELATE1', 'RELATE2', 'SCICOUR1', 'MATHCOUR1', 'FIRSTCOLL', 'PARTY', 'IDEO', 'XSPANISH', 'Xparent', 'PPCM1301_col', 'PPCM0166', 'ppagecat', 'ppagect4', 'PPETHM', 'PPGENDER', 'PPHHHEAD', 'HH_INCOME_col', 'PPMARIT', 'PPMSACAT', 'PPREG4', 'SCH1_OE1_col', 'GENDJOB2_OE1_col', 'DEGREE1_computer', 'DEGREE1_math', 'DEGREE1_life', 'DEGREE1_physical', 'DEGREE1_engineering', 'DEGREE1_health', 'DEGREE1_otherstem', 'DEGREE1_othernonstem', 'STEM_DEGREE', 'SCICOUR2_t', 'MATHCOUR2_t', 'PPT017_t', 'PPT18OV_t', 'PPHHSIZE_t', 'EDUC4CAT', 'RACE_col']

,STEMJOBa,STEMJOBb,STEMJOBc,STEMJOBd,STEMJOBe,STEMJOBf,STEMJOBg,STEMJOBh,TECH3,TECH6,...,PPHHSIZE_t-5,PPHHSIZE_t-6,EDUC4CAT-1,EDUC4CAT-2,EDUC4CAT-3,EDUC4CAT-4,RACE_col-1,RACE_col-2,RACE_col-3,RACE_col-4
0,1,1,1,0,1,0,1,1,2,2,...,0,0,0,0,1,0,1,0,0,0
1,1,1,1,1,1,1,1,0,2,1,...,0,0,0,0,0,1,1,0,0,0
2,1,1,-1,1,1,0,0,0,2,2,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,-1,1,0,2,1,...,0,0,0,0,0,1,1,0,0,0
4,1,1,0,1,1,0,1,-1,1,1,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,-1,-1,-1,-1,-1,-1,-1,-1,1,1,...,0,0,0,1,0,0,1,0,0,0
4910,-1,-1,0,0,0,0,1,1,1,1,...,0,0,0,0,0,1,1,0,0,0
4911,1,1,1,1,1,0,1,1,1,1,...,1,0,0,0,1,0,1,0,0,0
4912,1,1,0,0,1,0,1,-1,2,1,...,0,0,0,0,0,1,0,0,1,0
4913,1,1,0,0,1,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [85]:
unique, counts = np.unique(df.TECH3, return_counts=True)
print(f'3: {counts}, min accuracy={np.round(1000*max(counts)/sum(counts))/10})')
unique, counts = np.unique(df.TECH6, return_counts=True)
print(f'6: {counts}, min accuracy={np.round(1000*max(counts)/sum(counts))/10})')

3: [1168 1754 1713   67], min accuracy=37.3)
6: [1453 1796 1373   80], min accuracy=38.2)

In [86]:
for col in df.columns:
    print(set(df[col]))

{0, 1, 9, -1}
{0, 1, 9, -1}
{0, 1, -1, 9}
{0, 1, 9, -1}
{0, 1, 9, -1}
{0, 1, -1, 9}
{0, 1, 9, -1}
{0, 1, -1, 9}
{0, 1, 2, 9}
{0, 1, 2, 9}
{0, 1, -1, 9}
{0, 1, 2, 9}
{0, 1, 2, 9}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}